#petpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #242424;
}
.pet-image {
    width: 15vw;    
    height: 15vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.pet-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

#actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 2vh;
    width: 200px;
    left: 0vw;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.pet-action-btn {
    width: 50%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b014cf;
    color: white;
    transition: background-color 0.3s;
}
.pet-action-btn:hover {
    background-color: #d115f7;
}
#pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #b014cf;
    padding: 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    width: 25vw;
}
#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.stat {
    position: relative; 
    width: 80%;
    display: flex;
    justify-content:right;
    align-items: center;
}
.stat-span {
    position: absolute;
    right: -30%;
    transform: translateX(0);
}
progress {
    position: relative;
    width: 100%;
    height: 20px;
}