.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    position: relative;
    
    background-color: #242424;
    border: #9612b1 solid 0.25px;
    border-radius: 10px;

    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 10);

    width: 50vw;
    height: 80vh;

    overflow: hidden;
    padding: 20px;
}