#navbar img {
    height: 34.55px;
    width: 34.55px;
}

#navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    
    background-color: #242424;
    color: white;
    padding: 7px 15px 7px 15px;
    margin: 0% 0% 2.5% 0%;

    border: #9612b1 solid 0.25px;
    border-radius: 10px;

    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 10);

    z-index: 1;

}
#navbar button{
    padding: 0.05em 0.5em 0.25em 0.5em;
}
#navbar button:hover {
  border-color: #e668ff;
}
#navbar a {
    text-decoration: none;
    color:#ce34ec;
}
#navbar a:hover {
    color: #e668ff;
}